  <p>
    <%= f.label "8:00 "  %>  
    <%= f.text_field :s0800 %>
  </p>
  <p>
    <%= f.label "8:30 " %>
    <%= f.text_field :s0830 %>
  </p>
  <p>
    <%= f.label "9:00" %>
    <%= f.text_field :s0900 %>
   </p>
  <p>
    <%= f.label "9:30" %>
    <%= f.text_field :s0930 %>
  </p>
  <p>
    <%= f.label "10:00" %>
    <%= f.text_field :s1000 %>
  </p>
  <p>
    <%= f.label "10:30" %>
    <%= f.text_field :s1030 %>
  </p>
  <p>
    <%= f.label "11:00"  %>
    <%= f.text_field :s1100 %>
  </p>
  <p>
    <%= f.label "11:30" %>
    <%= f.text_field :s1130 %>
  </p>
  <p>
    <%= f.label "12:00" %>
    <%= f.text_field :s1200 %>
  </p>
  <p>
    <%= f.label "12:30" %>
    <%= f.text_field :s1230 %>
  </p>
  <p>
    <%= f.label "13:00" %>
    <%= f.text_field :s1300 %>
  </p>
  <p>
    <%= f.label "13:30" %>
    <%= f.text_field :s1330 %>
  </p>
    <p>
    <%= f.label "14:00"  %>
    <%= f.text_field :s1400 %>
  </p>
  <p>
    <%= f.label "14:30" %>
    <%= f.text_field :s1430 %>
  </p>
  <p>
    <%= f.label "15:00" %>
    <%= f.text_field :s1500 %>
  </p>
  <p>
    <%= f.label "15:30" %>
    <%= f.text_field :s1530 %>
  </p>
  <p>
    <%= f.label "16:00" %>
    <%= f.text_field :s1600 %>
  </p>
  <p>
    <%= f.label "16:30" %>
    <%= f.text_field :s1630 %>
  </p>